/*
Author: Antoine Sorin
Version: 1
*/
@font-face {
    font-family: CarterOne;
    src: url("static/fonts/CarterOneRegular.ttf") format("truetype");
}

@font-face {
    font-family: Quicksand;
    src: url("static/fonts/QuicksandVariableFont.ttf") format("truetype");
}



body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ 
		margin:0; 
		padding:0;
}


body {
    background: radial-gradient(#bc2929, #6a1010);
    text-align:center;
    font-family: Quicksand, serif;
    color:#FFF;                                            
}

header {
    font-size:18px;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

#header-content {
    width:1000px;
    margin: auto;
    height:250px;
}

#logo {
    width:250px;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
    float:left;
}

#content-top {
    margin-top:40px;
    display: inline-block;
}

h1 {
    font-family: CarterOne, monospace;
    text-transform:uppercase;
    color:#FFF;
    font-size:45px;
    margin-top:30px;
    letter-spacing:3px;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
}


#content {
    background: url("static/images/background.png") top left repeat;
    padding:20px;
    
}

#mobile {
    display: none;
}

/*     SITE WEB      */

#content-cover {
    max-width:1240px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

h2 {
    color :#bc2929;
    font-family: 'CarterOne', monospace;
    text-transform:uppercase;
    padding:15px;
    letter-spacing: 3px;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

.linkCard {
    text-decoration: none;

}

.linkCard img {
    -webkit-transition-duration: 1s;
    transition-duration: 0.5s;
    height:100%;
}

.linkCard img:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}


/*           FOOTER          */


footer {
    margin-top:50px;
}

#social {
    margin-bottom:50px;
}

#social i {
    font-size:50px;
    margin:5px;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

#social a {
    text-decoration:none;
    color: #FFFFFF;
}


@media screen and (min-width: 1025px) and (max-width: 1274px) {

    #content-cover {
        max-width:1240px;
        grid-gap: 5px;
    }

    .linkCard img{
        height:260px
    }

}




@media screen and (min-width: 768px) and (max-width: 1024px) {

    #header-content {
        height: 100%;
        width: 100%;
    }

    #logo {
        float: none;
        width: 250px;
        margin: auto;
    }

    #content-top {
        margin-top:0;
        margin-bottom:35px;
    }

    #content-top h1{
        margin-top:-25px;
    }

    #content-cover {
        max-width:1240px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }

    .linkCard img{
        height:280px;
        margin:15px;
    }


}

@media screen and (min-width: 491px) and (max-width: 767px) {

    header {
        font-size: 14px;
    }

    #header-content {
        height: 100%;
        width: 100%;
    }

    #logo {
        float: none;
        width: 250px;
        margin: auto;
    }

    #content-top {
        margin-top:0;
        margin-bottom:35px;
    }

    #content-top h1{
        margin-top:-25px;
    }

    #content-cover {
        max-width:1240px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }

    .linkCard img{
        height:280px;
        margin:15px;
    }


}

@media screen and (min-width: 318px) and (max-width: 490px) {

    header {
        font-size: 14px;
    }

    #header-content {
        height: 100%;
        width: 100%;
    }

    #logo {
        float: none;
        width: 250px;
        margin: auto;
    }

    #content-top {
        margin-top:0;
        margin-bottom:35px;
    }

    #content-top h1{
        margin-top:-25px;
        font-size: 30px;
    }

    #content-cover {
        max-width:1240px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }

    .linkCard img{
        height:280px;
        margin:15px;
    }
    #desktop {
        display: none;
    }
    #mobile {
        display: inline-block;
    }

    #mobile p {
        margin:5px 0;
    }


}

@media screen and (min-width: 0px) and (max-width: 317px) {

    header {
        font-size: 14px;
    }

    #header-content {
        height: 100%;
        width: 100%;
    }

    #logo {
        float: none;
        width: 250px;
        margin: auto;
    }

    #content-top {
        margin-top:0;
        margin-bottom:35px;
    }

    #content-top h1{
        margin-top:-25px;
        font-size: 30px;
    }

    #content-cover {
        max-width:1240px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 5px;
    }

    .linkCard img{
        height:280px;
        margin:15px;
    }
    #desktop {
        display: none;
    }
    #mobile {
        display: inline-block;
    }

    #mobile p {
        margin:5px 0;
    }

    #web h2 {
        padding:5px;
        font-size: 17px;
    }


}